
@import url("https://fonts.cdnfonts.com/css/days-sans-black");
 
body {
    background: rgb(0, 0, 0);
}

section#main {

    position: absolute;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-image: url('assets/nycprivatemoneybg-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}


#masthead {
    
    font-family: 'Days Sans Black', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 6em;
    color: rgb(215, 215, 215);
    z-index: 100;
    align-self: center;

} 

header {

    display: flex;
    align-content: center;
    justify-content: center;
    width: 100vw;
    height: 100vh; 
}

#bg-image {

    position: absolute;
    left: 0px;
    top: 0vh;
    width: 100%;
    height: auto;
   

}


@media only screen and (max-width: 1234px) {

    body {

        overflow-x: hidden;
    }

    #bg-image {

        height: 100vh;
        width: 100vw;
    }

    #masthead {

        position: absolute;
        top: 50%;
        font-size: 2.5em;
        align-self: center;
        flex-shrink: 3;
    }

}

@media only screen and (max-width: 1000px) {

    body {

        overflow-x: hidden;
    }

    #bg-image {

        height: 100%;
        width: auto;
    }

    #masthead {

        position: absolute;
        top: 50%;
        font-size: 2.5em;
        align-self: center; 
        flex-shrink: 3;
    }

}


@media only screen and (max-width: 800px) {

    body {

        overflow-x: hidden;
    }

    #bg-image {

        height: 100%;
        width: auto;
    }

    #masthead {

        position: absolute;
        top: 50%;
        font-size: 2.5em;
        align-self: center;
        flex-shrink: 3;
    }

    #lead-para {

        font-size: 0.75em;
    }

    section > h2 {

        font-size: 0.95em;
    }

}


@media only screen and (max-width: 520px) {
    
    body {

        overflow-x: hidden;
    }

    #bg-image {

        height: 100vh;
        width: 400vw;

    }

    #masthead {

        position: absolute;
        top: 50%;
        font-size: 1.5em;
        align-self: center;

    }

    #texture {

        display: none;

    }

}


@media only screen and (max-width: 375px) {
    
    
    section#main {

        width: 100%;
        overflow:hidden;

    }

    #bg-image {

        height: 100vh;
        width: 200%;

    }

    select {
        height: 8vh;
    }

  select, option   {
     
    width: 100%;
    margin-bottom: 2vh;
    }
}


#subhead-quote {

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 100vh;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: #D7D7D7;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    color: black;
    z-index: 25;
    font-family: freight-neo-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;

}

 #lead-para, h2 {
   
    align-self: center;
    width: 50%; 
    height: auto; 
    z-index: 30; 
    color: black; 
    margin-bottom: 2vh;
    
} 

#form-container button {

    position: absolute;
    left: 45%;
    margin-top: 5vh;
    border: none;
    font-family: Helvetica, sans-serif;
    font-weight: 150;
}

 #lead-para {

  font-family: Helvetica;
  font-weight: 200;

}

section > h2 {

    font-family: 'Days Sans Black', sans-serif
}



#form-container {

    align-self: center;
    width: 75%;
    height: 55vh;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 1, 0.37);
    backdrop-filter: blur( 16px );
    -webkit-backdrop-filter: blur( 16px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index:20;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-size: 0.75em;
}




.input {
   
    color: black;
    width: 100%;
    background-color: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 0.5px solid rgb(255, 255, 255);
   
}

.input:focus {
    
    color: black;
    background-color: #DAE0E4;
    border-bottom: 0.5px solid rgb(255, 255, 255);
    outline: none !important;
 
}

select {
    position: relative;
    background-color: #DAE0E4;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 0.5px solid rgb(255, 255, 255);
    outline: none !important;
    margin-right: 15vh;
}

#texture {

    position: absolute;
    top: 0px;
    left: 45vh;
    width: 55%;
    opacity: 0.75;
}

