@import url("https://use.typekit.net/nfa4krb.css");
 
 body {
    overflow-x: hidden;
}

iframe {
    width: 100%;
    height: 100%
}


#iframe-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    top: 20vh;
}

 /* .wireframe {
    height: auto;
    width: auto;
} 

#img-container {
    justify-content: center;
    display:flex;
    
} 

 @media only screen and (max-width:1000px) {
    .wireframe {
        height: 120vh;
        width: 140vw;
    }
} 

 @media only screen and (max-height:800px) {
    .wireframe {
        height: 450vh;
        width: 110vw;
    }
}   */